@keyframes noise {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -420px;
    }
}

.not-found {
    overflow: hidden;
    margin: 0px;
    background: rgb(31, 31, 31);
    height: 100vh;
    box-shadow: 0px 0px 122px 25px black inset;
    background-image: url('https://i.imgur.com/eg7VIun.jpg');
    background-repeat: repeat;
    animation: noise 230ms steps(6) infinite;

}

.glitch-wrapper {
    padding-top: 180px;
    width: 100vw;
    text-align: center;
    animation: glitch 2s linear infinite;
    margin-bottom: 110px;
}


.glitch-text {
    font-family: monospace;
    font-weight: bold;
}

.glitch-text::before {
    content: 'ERROR 404';
    color: black;
    text-shadow: 0px 0px 5px 10px black !important;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7x);
    -ms-filter: blur(7px);
    filter: blur(7px);
    display: block;
    position: absolute;
    z-index: -1;
    font-size: 132px;
    left: 0px;
    right: 0px;
    margin-top: -30px;
    opacity: .5;
}

.glitch-text {
    position: relative;
    z-index: 2;
    opacity: .9;
    margin: 0 auto;
    text-shadow: 0px 0px 3px white;
    animation: backGlitch 3s infinite;
    font-size: 52px;
    color: white;
}


.paused {
    animation-play-state: paused;
}


/* JUST RANDOM VALUES HERE! */
@keyframes backGlitch {
    3% {
        text-shadow: 7px 7px 0px red;
    }

    6% {
        text-shadow: -9px 4px 0px blue;
        transform: translate(4px, -10px) skewX(3240deg);
    }

    7% {
        text-shadow: 3px -4px 0px green;
    }

    9% {
        text-shadow: 0px 0px 3px white;
        transform: translate(0px, 0px) skewX(0deg);
    }

    2%,
    54% {
        transform: translateX(0px) skew(0deg);
    }

    55% {
        transform: translate(-2px, 6px) skew(-5530deg);
    }

    56% {
        text-shadow: 0px 0px 3px white;
        transform: translate(0px, 0px) skew(0deg);
    }

    57% {
        text-shadow: 7px 7px 0px red;
        transform: translate(4px, -10px) skew(-70deg);
    }

    58% {
        text-shadow: 0px 0px 3px white;
        transform: translate(0px, 0px) skew(0deg);
    }

    62% {
        text-shadow: 3px -4px 0px green;
        transform: translate(0px, 20px) skew(0deg);
    }

    63% {
        text-shadow: 0px 0px 3px white;
        transform: translate(4px, -2px) skew(0deg);
    }

    64% {
        transform: translate(1px, 3px)skew(-230deg);
    }

    65% {
        transform: translate(-7px, 2px) skew(120deg);
    }

    66% {
        transform: translate(0px, 0px) skew(0deg);
    }

}

/* CSS button */
.button-49,
.button-49:after {
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'Back to';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media (min-width: 768px) {

    .button-49,
    .button-49:after {
        width: 200px;
        height: 86px;
        line-height: 88px;
    }
}