
main .card{
    cursor: pointer !important;
    transition: all 0.4s !important;
    min-height: 18rem !important;
}


main .card:hover{
    background-color: #383636 !important;
    transform: scale(1.03) !important;
}
main .card .img{
    overflow: hidden !important;
}

.cart{
    transition: all 0.4s;
    cursor: pointer;
}
.cart:hover{
    color: blueviolet !important;
}

main .card-footer{
    border-top: none !important;
}

.fav{
    transition: all 0.4s;
    cursor: pointer;
}
.fav:hover{
    color: red !important;
}

.col-md-6, .col-lg-4, .col-md-6, .col-lg-6{
    transition: all 0.2s;
}

.games img{
    height: 250px;
    object-fit: cover;
}

/* Badge */
.my-badge {
    position: absolute;
    border-bottom: 30px solid #4d9c40;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 120px;
    text-align: center;
    transform: rotate(-45deg);
    left: -40px;
    top: 5px;
    color: #fff;
  }
  
  .my-badge::before {
    content: "";
    border-bottom: 11px solid #2d6824;
    border-left: 11px solid transparent;
    transform: rotate(45deg);
    left: -27px;
    top: 24px;
    position: absolute;
  }
  .my-badge::after {
    content: "";
    border-bottom: 11px solid #2d6824;
    border-left: 11px solid transparent;
    transform: rotate(45deg);
    left: 76px;
    top: 24px;
    position: absolute;
  }
  