main .card {
    cursor: pointer !important;
    transition: all 0.4s !important;
    /* min-height: 18rem !important; */
}


main .card:hover {
    background-color: #383636 !important;
    transform: scale(1.03) !important;
}

main .card .img {
    overflow: hidden !important;
}

.cart {
    transition: all 0.4s;
    cursor: pointer;
}

.cart:hover {
    color: blueviolet !important;
}

main .card-footer {
    border-top: none !important;
}

.fav {
    transition: all 0.4s;
    cursor: pointer;
}

.fav:hover {
    color: red !important;
}

.col-md-6,
.col-lg-4,
.col-md-6,
.col-lg-6 {
    transition: all 0.2s;
}

.games img {
    height: 250px;
    object-fit: cover;
}

/* Badge */
.my-badge {
    position: absolute;
    z-index: 100;
    border-bottom: 30px solid #4d9c40;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 120px;
    text-align: center;
    transform: rotate(-45deg);
    left: -40px;
    top: 5px;
    color: #fff;
}

.my-badge::before {
    content: "";
    border-bottom: 11px solid #2d6824;
    border-left: 11px solid transparent;
    transform: rotate(45deg);
    left: -27px;
    top: 24px;
    position: absolute;
}

.my-badge::after {
    
    content: "";
    border-bottom: 11px solid #2d6824;
    border-left: 11px solid transparent;
    transform: rotate(45deg);
    left: 76px;
    top: 24px;
    position: absolute;
}


/* rate on card */
.card-rate {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow !important;

}
.game-rate-card{
    z-index: 100;
}

/* active genre */
.genres .active {
    transition: all 0.2s;
}
.genres .nav-item.active {
    border-left: 5px solid rgb(53, 255, 53) !important;
    background-color: #16490e !important;
    padding: 0.7rem;
}

/* paginate */
.css-1ysyrvn-MuiButtonBase-root-MuiPaginationItem-root{
    color: white !important;
}
.MuiPaginationItem-root{
    color: white !important;
    border:rgba(255, 255, 255,0.3) 1px solid !important;
    transition: all 0.3s;
}
.MuiPaginationItem-root:hover{
    background-color: rgba(255, 255, 255,0.3) !important;
    transform: scale(1.1) !important;
}

.bg-darkGrey{
    background-color: #222529 !important;
}
.bg-darkBlue{
    background-color: #293f4a !important;
}
main .accordion-item:first-of-type .accordion-button{
    background-color: #222529 !important;
    color: white !important;

}
main .accordion-button:not(.collapsed) {
    color: white !important;
    background-color: #222529 !important;

}
main .accordion-button::after {
    color: white !important;
}
.genre-small-filter{
    display: none ;
}
.genre-large-filter{
    display: inline ;
}
@media (max-width: 770px) {
    .genre-small-filter{
        display: inline ;
    }
    .genre-large-filter{
        display: none ;
    }
    main{
        margin-left: 5px;
    }
}