nav {
    --bs-bg-opacity: 1;
    background-color: transparent;
}

.navbar {
    font-size: larger;
}

.nav-link {
    cursor: pointer;
}

@media (max-width: 575.98px) {
    nav.top-nav {
        --bs-bg-opacity: 1;
        background-color: black !important;
    }

    nav.top-nav form,
    nav input {
        width: 90% !important;
    }
}

nav img{
    width: 40px;
    height: 40px;
}

