.valid-input{
    border: 3px solid green !important;
 }
 .invalid-input{
    border: 3px solid red !important;
 }
 .fa-check{
  color: green;
 }
 .fa-xmark{
  color: red;
 }
 .check-mark{
    right: 40px;
    top: 0px;
 }